:root {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: gray;
    font-size: 21px;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

h2{
    color: white;
    font-weight: 300;
    font-size: 42px;
}

img{
    display: block;
    margin: 30px auto;
}

video{
    display: block;
    margin: 0 auto;
}

.copyright{
    text-align: right;
}

a:any-link {
    color:aquamarine;
}

